@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("/table/bg.png");
    background-attachment: fixed;
}

.bg-opacity {
    background-color:rgba(0, 0, 0, 0.8);
    background-origin: border-box;
    min-height: 100vh;
}